body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    background-image: url("../imgItem/hinh-nen-chill-10.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
    overflow-y: hidden;
}
form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color:rgba(255, 227, 128, 0.7);
    opacity:0.7;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

input[type="text"], input[type="email"], input[type="date"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;

}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition:1s;
    color: black;
}

input[type="submit"]:hover {
    background-color: #ffcd45;
}


header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    /* background-color: rgba(255, 255, 255, 0,3); */
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* opacity:0.7   */
    /* z-index: 1000;  */
}


.navbar-brand {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #ffcd45;
    text-transform: uppercase;
}

.navbar-brand img {
    border-radius: 50%; 
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    color: #555; 
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #ffcd45; 
    text-decoration: underline; 
}

.navbar-nav .loginBtn {
    font-weight: bold;
    color: white;
    background-color:#ffcd45;
    padding: 5px 15px;
    border-radius: 4px;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 50px;
}

.navbar-nav .loginBtn:hover {
    background-color: #ffcd45;
    color: #f7f9fa;
}
